{% extends "main.html" %}

{% block content %}
    {% if game.opponent_id.username != None and round_count <= 2 %}
        <p>{{ user.username }}, Playing against {{ game.opponent_id.username }}</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Pick!">
        </form>
    {% elif round_count ==  3 and last_round_completed %}
        <a href="{{ game.id }}/results/"><input type="button" value="see results"></a>
    {% else %}
        <p>Waiting for opponent...</p>
    {% endif %}

{% for round in rounds_completed %}
    {% if round.opponent_move != None and round.creator_move != None %}
    <p>you played: <b>{{ round.get_creator_move_display }}</b> vs
    {{ opponent.username }}: <b>{{ round.get_opponent_move_display }}</b></p>
    {% endif %}
{% endfor %}
{% endblock %}


