{% extends "main.html" %}

{% block content %}
{% load static %}
<form action="" method="POST">
    {% csrf_token %}
    <a href="{% url 'logout' %}"><input type="button" value="logout"></a><br><br>
    <h4>Hello {{ user.username }}!</h4>
    {% if games_won == 1 %}
    <p>You won {{ games_won }} game so far!</p>
    {% else %}
    <p>You won {{ games_won }} games so far!</p>
    {% endif %}
    <a href="{% url 'create' %}"><input type="button" value="create game"></a>
</form>
    {% for game in games %}
    <p>Player :{{ game.creator_id.username }}<a href="/join-game/{{ game.id }}">
        <input type="button" value="Join"></a></p>
    <p>Created: {{ game.creation_time }}</p><br>
    {% endfor %}
<script type="text/javascript" src="{% static 'js/refresh.js' %}"></script>
{% endblock %}


