<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rock paper scissors</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h2>Rock Paper Scissors game!</h2>
    {% block content %}
    {% if user.is_authenticated %}
    <h3>Hello {{ user.username }}</h3>
    <a href="{% url 'lobby' %}"><input type="button"value="go to lobby"></a>
    {% else %}
    <a href="{% url 'register' %}">register account</a><br>
    <a href="{% url 'login' %}">log in</a>
    {% endif %}
    {% endblock %}
</body>
</html>